.footer-section {
  background: #222426;

  color: #f7f7f7;
  padding: 90px 0 30px;
  font-family: "Inter", sans-serif;
  border-top: 1px solid #eee;
}

.footer-container {
  width: 85%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 250px;
}

.footer-col h3 {
  margin-bottom: 22px;
  color: #fafafa;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.3px;
}

.footer-col p,
.footer-col a {
  color: #fbf9f9;
  font-size: 15px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  line-height: 1.8;
  transition: 0.3s ease;
}

.footer-link {
  text-decoration: none;
  color: inherit;
}

.contact-icons p:hover,
.contact-icons a:hover {
  color: #d4af37;
  transform: translateX(2px);
}

.social-icons {
  display: flex;
  gap: 18px;
  margin-top: 5px;
}

.social-icons a {
  font-size: 26px;
  color: #ebebeb;
  transition: all 0.35s ease;
}

.social-icons a:hover {
  color: #d4af37;
  transform: translateY(-4px) scale(1.05);
}

.subscribe-box {
  margin-top: 14px;
  display: flex;
  max-width: 340px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
}

.subscribe-box input {
  padding: 13px 15px;
  border: none;
  width: 70%;
  outline: none;
  font-size: 14px;
  background: transparent;
}

.subscribe-box button {
  padding: 13px 18px;
  border: none;
  background: linear-gradient(135deg, #d4af37, #c49a2c);
  color: #111;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.subscribe-box button:hover {
  background: linear-gradient(135deg, #c49a2c, #b08a24);
  transform: translateY(-1px);
}

.footer-bottom {
  text-align: center;
  margin-top: 70px;
  padding-top: 25px;
  border-top: 1px solid #e5e5e5;
  color: #777;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.footer-bottom span {
  color: #f9f9f7;
  font-weight: 600;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 45px;
  }

  .footer-section {
    padding: 70px 0 25px;
  }
}
